/* Nav section */
 .container{
    max-width: 1140px;
    margin: auto;
    font-family: "Noto Serif", serif;
 }

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    gap: 48px;
}
/* Hero section */
.hero{
gap: 13px;
display: flex;
align-items: center;
padding: 20px;
width: 1140px;
height: 461px;
}
.hero h1{
font-size: 65px;
font-weight: 700;
line-height: 89px;
letter-spacing: 0%;
text-align: left;
margin: 13px 0 0 0;
}
.hero p{
color: rgba(0, 0, 0, 0.5);
font-size: 22px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
margin: 13px 0 0 0;
max-width: 85%;
}
.highlight{
color: rgb(233, 90, 8); 

}
/* Menu Section */
.menu-header h2{
text-align: center;
font-size: 50px;
font-weight: 700;
line-height: 68px;
margin-bottom: -16px;
}
.menu-header p{ 
color: rgba(0, 0, 0, 0.5);
font-size: 22px;
font-weight: 400;
line-height: 27px;
text-align: center;
align-items: center;
max-width: 95%;
margin: 40px;
}
.menu-items{
width: 270px;
height: 484.94px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 30;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;
}
.menu-items img{
width: 270px;
height: 322.94px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex: none;

}
.menu-items button{
width: 270px;
height: 50px;
align-items: center;
gap: 10px;
margin: 5px 0px;
background: rgb(233, 90, 8);
border: none;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
}
.menu-items span{
width: 132px;
height: 16px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 0px;
flex: none;
margin: 5px 0px;
color: rgb(17, 17, 17);
font-family: Inter;
font-size: 22px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
}
.menu-items h4{
width: 81px;
height: 16px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 20;
padding: 0px;

margin: 20px 0px;
color: rgb(17, 17, 17);
font-size: 22px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
}
.menu-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
   max-width: 1140px;
    
}

/* chchallenge-section */
.challenge-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-left: 25px;
    margin-top: 200px;
     

}
.challenge-section h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    margin-bottom: 66px;
}
.challenge-list{
color: rgba(0, 0, 0, 0.5); 
font-size: 22px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
padding: -50px;
margin-left: 10px;
}
.trusted-badge{
width: 286px;
height: 286px;
z-index: -1;
margin-right: -300px;
margin-top: -100px;
margin-left: -200px;
margin-bottom: 450px;
}