.container{
    max-width: 1140px;
    margin: auto;
    font-family: "Noto Serif", serif;
 }
       /* Nav section */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    margin-top: 30px;
}
.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
}
.nav-links li a{
    text-decoration: none;
    color: black;
    gap: 48px;
}

       /* Nav section Responsive */

       @media (max-width: 576px) {

  .hide-item {
    display: none;  
  }


  .nav {
    justify-content: space-between;
    margin-top: 30px;
  }

  .nav-links {
    gap: 10px;
  }
}


/* Hero section */
.hero{
gap: 13px;
display: flex;
align-items: center;
}
.hero h1{
font-size: 65px;
font-weight: 700;
line-height: 89px;
letter-spacing: 0%;
text-align: left;
margin: 13px 0 0 0;
}
.hero p{
color: rgba(0, 0, 0, 0.5);
font-size: 22px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
text-align: left;
margin: 13px 0 0 0;
max-width: 85%;
}
.highlight{
color: rgb(233, 90, 8); 

}

          /* Hero section Responsive */
@media (max-width: 576px) {
  .hero {
    justify-items: center;
    flex-direction: column-reverse;  
    text-align: center;
    gap: 30px;
  }

  .hero h1 {
    font-size: 40px;
    line-height: 50px;
    padding-left: 20px;
  }

  .hero p {
    font-size: 18px;
    line-height: 25px;
    max-width: 100%;
    padding-left: 20px;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }
}



/* Menu Section */
.menu-header h2{
text-align: center;
font-size: 50px;
font-weight: 700;
line-height: 68px;
margin-bottom: -16px;
}
.menu-header p{ 
color: rgba(0, 0, 0, 0.5);
font-size: 22px;
font-weight: 400;
line-height: 27px;
text-align: center;
align-items: center;
max-width: 95%;
margin: 40px;
}
.menu-items{
width: 220px;
height: 484.94px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 15;
padding: 0px;
flex: none;
order: 0;
flex-grow: 0;
margin: 0px 20px;
}
.menu-items img{
width: 270px;
height: 322.94px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex: none;

}
.menu-items button{
width: 270px;
height: 50px;
align-items: center;
gap: 10px;
margin: 5px 0px;
background: rgb(233, 90, 8);
border: none;
color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
}
.menu-items span{
width: 132px;
height: 16px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 10;
padding: 0px;
flex: none;
margin: 5px 0px;
color: rgb(17, 17, 17);
font-family: Inter;
font-size: 22px;
font-weight: 500;
line-height: 150%;
letter-spacing: 0%;
}
.menu-items h4{
width: 81px;
height: 16px;
align-items: center;
/* gap: 20;
padding: 0px; */
margin: 20px 0px;
color: rgb(17, 17, 17);
font-size: 22px;
font-weight: 700;
line-height: 150%;
letter-spacing: 0%;
}
.menu-section{
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 20px;
width: 100%;
    
}

          /* Menu Responsive */
@media (max-width: 576px) {
  .menu-section{
    justify-items: center;
  }
  .menu-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .menu-items {
 max-width: 20%;
  max-width: 200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.menu-items img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.menu-items button{
  width: 200px;
}
 
}



/* challenge-section */
.challenge-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    margin-top: 200px;
    width: 100%;
     

}
.challenge-section h2{
    font-size: 50px;
    font-weight: 700;
    line-height: 68px;
    margin-bottom: 66px;
    text-align: center;
}
.challenge-list{
  width: 500px;
color: rgba(0, 0, 0, 0.5); 
font-size: 22px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0%;
padding: -50px;
margin-left: 5px;
}
.trusted-badge{
width: 286px;
height: 286px;
position: absolute;
margin-right: -300px;
margin-top: -100px;
margin-left: -200px;
margin-bottom: 450px;
}
 

      /* challenge-section */
     @media (max-width: 576px) {
  .challenge-section {
    max-width: 20%;
    grid-template-columns: 1fr;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    padding: 10px 20px; 
    margin-top: 35px; 
  }
  .challenge-section h2{
    width: 480px;
    font-size: 25px;
    margin-bottom: 33px;
    margin-top: 20px;
  }
  .challenge-img{
    max-width: 400px;
    margin-left: -30px;
  }
.challenge-list{
  width: 400px;
}
  .trusted-badge {
    display: none;
  }
   
}


/* Banner section */
.banner {
   box-sizing: border-box;
    background-image: url(../assets/news-letter-bg.png);
    background-repeat: no-repeat;
    color:white;
    width: 1440px;
    height: 533px;
    padding: 40px 20px;
    text-align: center;
    width: 100%;
    margin-top: 120px;
    margin-right: 0;
}
.banner h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 160px;
}
.banner form {
   padding: 8px 20px 8px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
     

}
.banner input[type="email"] {
    padding: 10px;
    border: none;
    width: 400px;
    height: 15px;

}
.banner button {
    padding: 10px 20px;
    border: none;
    background: rgb(233, 90, 8);
    color: rgb(255, 255, 255);
    font-weight: 700;
     
}

         /* Banner section Responsive */
         @media (max-width: 576px) {
  .banner{
    justify-items: center;
  width: 500px;
height: 275px;
  }
          .banner h1 {
    font-size: 28px;
    margin-top: 100px;
  }
  .banner input[type="email"] {
    width: 280px;
  }

  .banner button {
    width: 103px;
  }
}


        /* Footer section */
.footer{
    display: flex;
    justify-content: space-between;
    padding: 40px 20px;
     
     
}
 .footer-social a{
  display: inline-block;
  background-color: rgb(255, 255, 255, 0.2);
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
    
 }
  
 

.footer-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    gap: 40px;
    padding: 0 15px;
}

.footer-links li a{
    text-decoration: none;
    color: rgb(107, 114, 128);
    gap: 48px;
   
}
.footer-links li a:hover{
    color: red;
    transition: color 0.1s ease;
}
.footer p{
width: 259px;
height: 81px;
color: rgba(0, 0, 0, 0.5);
}

     /* Footer section Responsive */
     @media (max-width: 576px) {
  .footer {
    flex-direction: column;
    align-items: left;
    text-align: left;
    gap: 5px;
  }

  .footer-links {
    flex-direction: column;
    align-items: left;
  }

  .footer-social a {
    margin: 10px;
  }
     }